*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lexend, sans-serif;
}

:root{
    color: white;
    --main_color:rgb(16, 16, 34) ;
}
body{
    background-color: var(--main_color);
}

header{
    display: flex;
    align-items: center;
    padding: 16px 20px;
}

header button{
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    transition: all .5s;
    font-size: 18px;
    color: white;
}

header button:hover{
    background-color: rgb(24, 24, 52);
}
header h2{
    width: 100%;
    text-align: center;
}